/* Startup Page */
.startup-container {
	display: flex;
	width: 100%;
	height: 95vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.startup-buttons {
	display: flex;
	width: 24rem;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.startup-logo {
	margin-bottom: 1.25rem;
}

.startup-title {
	text-align: center;
	margin-bottom: 0.5rem;
}
.startup-content {
	text-align: center;
	margin-bottom: 1rem;
}
.startup-row {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
}

.startup-login {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	font-size: 16px;
	outline: none;
	border: none;
	border-radius: 6px;
	background-color: #10a37f;
	color: white;
	padding: 8px 10px;
	text-decoration: none;
}

.startup-login:hover {
	opacity: 1;
	background-color: rgba(26, 127, 100, 1);
}

/* Auth */

.auth {
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
}

.auth-container {
	display: flex;
	color: black;
	flex-direction: column;
	align-items: center;
	margin-top: 24vh;
}

.auth-logo {
	position: absolute;
	top: 20px;
	font-size: 28px;
}

.auth-title {
	color: black;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 18px;
}
.auth-form {
	display: flex;
	flex-direction: column;
}

.auth-input {
	margin-top: 15px;
	width: 270px;
	height: 41px;
	padding-left: 8px;
	font-size: 16px;
	outline: none;
	border: 1px solid gray;
	margin-bottom: 18px;
	border-radius: 4px;
}

.auth-button {
	margin-top: 15px;
	width: 285px;
	height: 41px;
	font-size: 16px;
	outline: none;
	border: none;
	border-radius: 6px;
	background-color: rgb(16, 163, 127);
	color: white;
	margin-bottom: 12px;
	cursor: pointer;
}

.auth-footer {
	margin-top: 14px;
	font-size: 14px;
}

.auth-navigate {
	color: #10a37f;
	text-decoration: none;
}

/* Menu */

.menu {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 10;
	align-items: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	background-color: #343541;
	padding-left: 0.25rem;
	padding-top: 0.25rem;
	color: #edf2f7;
}

@media (min-width: 640px) {
	.menu {
		padding-left: 0.75rem /* 12px */;
	}
}

@media (min-width: 768px) {
	.menu {
		display: none;
	}
}

.menu-button {
	display: inline-flex;
	margin-left: -0.125rem /* -2px */;
	margin-top: -0.125rem /* -2px */;
	height: 2.5rem /* 40px */;
	width: 2.5rem; /* 40px */
	align-items: center;
	justify-content: center;
	outline: 2px solid transparent;
	outline-offset: 2px;
	border-radius: 0.375rem /* 6px */;
	color: rgb(243, 244, 246, 1);
}

.menu-button:focus {
	--ring-offset-width: 0px;
	--ring-offset-color: #fff;
	--ring-color: #93c5fd;
	box-shadow: 0 0 0 calc(1px + var(--ring-offset-width)) var(--ring-color),
		0 0 0 var(--ring-offset-width) var(--ring-offset-color);
	outline: none;
	color: rgba(255, 255, 255, 1);
}

.menu-button:hover {
	color: rgba(255, 255, 255, 1);
}

.hideshow {
	box-shadow: 0 0 0 0 transparent !important;
}

.menu-span {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.menu-newchat {
	flex: 1 1 0%;
	text-align: center;
	font-size: 1rem /* 16px */;
	line-height: 1.5rem /* 24px */;
	font-weight: 400;
}

.menu-newchat-button {
	padding-left: 0.75rem /* 12px */;
	padding-right: 0.75rem /* 12px */;
}

.menu-newchat-button-plus {
	height: 1.5rem /* 24px */;
	width: 1.5rem /* 24px */;
}

/* Chat */

.chat {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

/* Sidebar */
.sidebar {
	background-color: rgb(32, 33, 35, 1);
}

.sidebar-show {
	display: flex;
	flex-direction: column;
}

.sidebar-hidden {
	display: none;
}

.sidebar-container {
	display: flex;
	height: 100%;
	min-height: 0px;
	flex-direction: column;
}

.sidebar-content {
	display: flex;
	height: 100%;
	width: 100%;
	flex: 1 1 0%;
	align-items: flex-start;
	border-color: rgb(255, 255, 255, 0.2);
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1 1 0%;
	--tw-space-y-reverse: 0;
	margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
	padding: 0.5rem /* 8px */;
}

.sidebar-nav-newchat {
	display: flex;
	padding: 0.75rem /* 12px */;
	align-items: center;
	gap: 0.75rem /* 12px */;
	border-radius: 0.375rem /* 6px */;
	transition-duration: 200ms;
	color: rgb(255, 255, 255, 1);
	cursor: pointer;
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem; /* 20px */
	margin-bottom: 0.5rem /* 8px */;
	flex-shrink: 0;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(255, 255, 255, 0.2);
}

.sidebar-nav-newchat:hover {
	background-color: rgb(107, 114, 128, 0.1);
}

.sidebar-space {
	flex-direction: column;
	flex: 1 1 0%;
	overflow-y: auto;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: rgb(255, 255, 255, 0.2);
	--tw-space-y-reverse: 0;
	margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.sidebar-space-main {
	display: flex;
	flex-direction: column;
	gap: 0.5rem /* 8px */;
	color: rgb(243, 244, 246, 1);
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
}

.sidebar-footer {
	display: flex;
	padding: 0.75rem /* 12px */;
	align-items: center;
	gap: 0.75rem /* 12px */;
	border-radius: 0.375rem /* 6px */;
	transition-duration: 200ms;
	color: rgb(255, 255, 255, 1);
	cursor: pointer;
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
}

.sidebar-footer:hover {
	background-color: rgb(107, 114, 128, 0.1);
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		inset-inline-start: 0;
		inset-inline-end: auto;
		inset-block-start: 0;
		inset-block-end: 0;
		width: 260px;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.sun-icon {
	height: 1rem /* 16px */;
	width: 1rem /* 16px */;
	color: rgba(255, 255, 255, 1);
	font-weight: 700;
}

/* ChatBox */

.chat-box {
	display: flex;
	height: 100%;
	flex: 1 1 0%;
	flex-direction: column;
}

.chat-box-main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: stretch;
	position: relative;
	height: 100%;
	width: 100%;
	transition-duration: 0.15s;
	transition-property: width;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.chat-box-main-header {
	flex: 1 1 0%;
	overflow: hidden;
}
.chat-box-main-container {
	height: 100%;
	position: relative;
	background-color: rgb(52, 53, 65, 1);
}

.chat-box-main-content {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.chat-box-main-content-title {
	font-size: 2.25rem /* 36px */;
	line-height: 2.5rem /* 40px */;
	color: rgb(243, 244, 246, 1);
	font-weight: 600;
	text-align: center;
	margin-top: 1.5rem /* 24px */;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5rem /* 40px */;
}

.chat-box-main-content-section {
	align-items: flex-start;
	text-align: center;
	gap: 0.875rem /* 14px */;
}

.cbmcs-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem /* 32px */;
	gap: 0.875rem /* 14px */;
	flex: 1 1 0%;
}

.cbmcs-title {
	display: flex;
	gap: 0.75rem /* 12px */;
	color: rgb(243, 244, 246, 1);
	align-items: center;
	margin: auto;
	font-size: 1.125rem /* 18px */;
	line-height: 1.75rem /* 28px */;
	font-weight: 400;
}

.cbmcs-content-item {
	width: 100%;
	margin: 0.5rem;
	color: rgb(243, 244, 246, 1);
	background-color: rgb(255, 255, 255, 0.05);
	padding: 0.75rem /* 12px */;
	border-radius: 0.375rem /* 6px */;
}

.item-hover {
	cursor: pointer;
}

.item-hover:hover {
	background-color: rgb(17, 24, 39, 1);
}

.item-nothover {
	cursor: text;
}

.cbmc-decoration {
	width: 100%;
	height: 12rem /* 192px */;
	flex-shrink: 0;
}

@media (max-width: 767px) {
	display: none;
}

@media (min-width: 640px) {
	.chat-box-main-content-title {
		margin-top: 20vh;
		margin-bottom: 4rem /* 64px */;
	}
}

@media (min-width: 768px) {
	.chat-box {
		padding-left: 260px;
	}
	.chat-box-main-container {
		height: 100vh;
	}

	.chat-box-main-content-section {
		display: flex;
	}
	.cbmcs-container {
		margin-bottom: auto;
	}
	.cbmcs-title {
		flex-direction: column;
		gap: 0.5rem /* 8px */;
	}
}

/* Input */

.input {
	position: relative;
	bottom: 0px;
	left: 0px;
	width: 100%;
	border-top-width: 1px;
	background-color: #343541;
}

.input-form {
	margin-left: 0.5rem /* 8px */;
	margin-right: 0.5rem /* 8px */;
	display: flex;
	flex-direction: row;
	gap: 0.75rem /* 12px */;
	padding-top: 0.5rem /* 8px */;
}

.input-form:last-child {
	margin-bottom: 0.5rem /* 8px */;
}

.input-form-container {
	position: relative;
	display: flex;
	height: 100%;
	flex: 1 1 0%;
}

.input-form-content {
	margin-left: 0.25rem /* 4px */;
	margin-top: 0.375rem /* 6px */;
	gap: 0.5rem /* 8px */;
	justify-content: center;
}

.input-usericon {
	color: rgb(243, 244, 246, 1);
	padding: 0.25rem /* 4px */;
}

.input-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 0.5rem /* 8px */;
	padding-bottom: 0.5rem /* 8px */;
	padding-left: 0.75rem /* 12px */;
	flex-grow: 1;
	position: relative;
	border-width: 1px;
	border-color: rgb(17, 24, 39, 0.5);
	color: rgb(255, 255, 255, 1);
	background-color: rgba(64, 65, 79, 1);
}

.input-textarea {
	margin: 0px;
	width: 100%;
	height: 23px;
	resize: none;
	border-width: 0px;
	background-color: transparent;
	padding: 0px;
	padding-right: 1.75rem /* 28px */;
	outline: 2px solid transparent;
	outline-offset: 2px;
	overflow-y: hidden;
	color: white;
}

.input-textarea:focus:not(:focus-visible) {
	outline: none;
}

.input-textarea:focus-visible {
	outline: none;
	box-shadow: none;
}

.input-button {
	position: absolute;
	bottom: 0.375rem /* 6px */;
	right: 0.25rem /* 4px */;
	padding: 0.25rem /* 4px */;
	color: rgb(156, 163, 175, 1);
}

.input-button:hover {
	background-color: rgb(32, 33, 35, 1);
}

.input-footer {
	padding-left: 0.75rem /* 12px */;
	padding-right: 0.75rem /* 12px */;
	padding-top: 0.5rem /* 8px */;
	padding-bottom: 0.75rem /* 12px */;
	text-align: center;
	font-size: 0.75rem /* 12px */;
	line-height: 1rem /* 16px */;
	color: rgb(243, 244, 246, 0.5);
}

.input-footer-underline {
	text-decoration: underline;
}

@media (min-width: 768px) {
	.input {
		border-top-width: 0px;
		border-color: transparent;
		background-color: #343541;
	}
	.input-form:last-child {
		margin-bottom: 1.5rem /* 24px */;
	}
	.input-form-container {
		flex-direction: column;
	}
	..input-form-content {
		display: flex;
		width: 100%;
		margin-bottom: 0.5rem /* 8px */;
	}
	.input-usericon {
		display: none;
	}
	.input-container {
		padding-top: 0.75rem /* 12px */;
		padding-bottom: 0.75rem /* 12px */;
		padding-left: 1rem /* 16px */;
	}
	.input-button {
		bottom: 0.625rem /* 10px */;
		right: 0.5rem /* 8px */;
	}
	.input-footer {
		padding-left: 1rem /* 16px */;
		padding-right: 1rem /* 16px */;
		padding-top: 0.75rem /* 12px */;
		padding-bottom: 1.5rem /* 24px */;
	}
}

@media (min-width: 1024px) {
	.input-form {
		margin-left: auto;
		margin-right: auto;
		max-width: 48rem /* 768px */;
		padding-top: 1.5rem /* 24px */;
	}
}

/* SVG */
.CautionIcon,
.LightningChargeIcon,
.MenuIcon,
.SunIcon,
.UserIcon {
	width: 1.5rem;
	height: 1.5rem;
}

.DiscordIcon,
.ExternalLinkIcon,
.LogOutIcon,
.PlaneIcon,
.PlusIcon {
	width: 1rem;
	height: 1rem;
}

.PlaneIcon {
	transform: rotate(90deg);
}

/* Messages */

.msgs {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.875rem;
	line-height: 1.25rem;
	background-color: rgba(52, 53, 65, 1);
}

/* Message */
.msg {
	width: 100%;
	border-color: rgba(0, 0, 0, 0.1);
	border-bottom-width: 1px;
	color: rgba(236, 236, 241, 1);
	background-color: rgba(68, 70, 84, 1);
}

.msg-me {
	background-color: #343541;
}

.msg-container {
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 1rem;
	display: flex;
	margin: auto;
}

.msg-left {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	width: 30px;
	position: relative;
}

.msg-left-img {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	color: white;
	border-radius: 0.125rem;
}

.msg-right {
	display: flex;
	flex-direction: column;
	width: calc(100% - 50px);
	position: relative;
	gap: 0.25rem;
}

.msg-right-container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: 0.75rem;
}

.msg-right-button {
	gap: 1rem;
	color: rgba(172, 172, 190, 1);
	align-self: flex-end;
	justify-content: center;
	display: flex;
	margin-top: 0.5rem;
	visibility: visible;
}

.msg-msg {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	min-height: 20px;
	white-space: pre-wrap;
	padding: 1rem;
	margin-top: -10px;
}

@media (min-width: 768px) {
	.msg-container {
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
		gap: 1.5rem;
		max-width: 42rem;
	}
	.msg-right {
		gap: 0.75rem;
	}
}

@media (min-width: 1024px) {
	.msg-right {
		width: calc(100% - 115px);
	}
}
